DISCORD_TOKEN=DISCORD-TOKEN
YANDEX_TOKEN=YANDEX-TOKEN
IS_PRODUCTION=TRUE/False
OWNER_BOT_ID=bot_id

DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=cactusdiscordbot
DATABASE_HOST=localhost/mysql
DATABASE_PORT=3306